src/main/mule/deltaFlightsByDestination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deltaFlightsByDestinationFlow" doc:id="22d89da7-6c22-48c2-8ce3-dc39998e8d6d" >
		<logger level="INFO" doc:name="Logger" doc:id="5858ce73-6330-4fac-8419-20ad95773741" message="flow starts...."/>
		<ee:transform doc:name="Transform Message" doc:id="e774dc26-26b7-4ec9-8134-4302171264f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: attributes.queryParams.destination
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Consume" doc:id="5de68f75-3a51-4082-9ffd-f412ce7876db" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="ee242119-4baa-450a-9bec-39c1d00ba595" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2ad2c977-a480-4aba-8c72-3a07d80752a6" message="final response..."/>
	</flow>
</mule>
