target/classes/deltaFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="1e883c46-91f1-4e19-9e25-ee3500ec8cf8" >
		<wsc:connection wsdlLocation="http://localhost:9191/essentials/delta?wsdl" service="EssentialsDeltaFlightsService" port="EssentialsDeltaFlightsServiceImplPort" address="http://localhost:9191/essentials/delta" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="deltaFlightsFlow" doc:id="14be1f74-8bde-49e0-8645-e46858a46d46" >
		<logger level="INFO" doc:name="Logger" doc:id="db79ee3c-55ab-4a5d-ae03-03c2cfc57a23" message="flow starts..."/>
		<wsc:consume operation="listAllFlights" doc:name="Consume" doc:id="e1101551-4205-477b-9b0e-4527938e8542" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="19bb4b93-d3fd-47dd-a413-6bacc0bab56f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6f392718-3f24-4e99-9760-375e054477d6" message="final response...."/>
	</flow>
</mule>
